extends ../shared/template

block content
  .row
    .small-12.columns
        .small-6.columns
          h1= title
          .photo(style='background-image:url("' + item.photos +'")')
          table
            thead
              th Year
              th Cost
              th Info
              th Tags
            tr
              td= item.year
              td= item.cost
              td= item.desc
              td= item.tags
        form
          fieldset
            legend Edit item
              .row
                .small-12.columns
                  button Edit item
        .small-6.columns
          if item.userId === userId
            #pickBid
              h1 Pick a Winner
              form //(action='/win', method='post')
                fieldset
                  legend Pick a Winner
                  .row
                    .small-6.columns
                      Select#myBids
                        for bid in item.bids
                          option(name='item2', value=bid._id, selected='true')= bid.name
                        else
                          option(selected='true') No Bids
                    .small-6.columns
                          input(name='item1', value=item._id, type='hidden')
                          input(name='user1', value=item.userId, type='hidden')
                          input(name='user2', value=userId, type='hidden')
                          button Pick Winner
                      a.button.tiny(href='/new') Add Item
                      input(name='item1', value=item._id, type='hidden')
                      input(name='user1', value=item.userId, type='hidden')
                      input(name='user2', value=userId, type='hidden')
                      input(name='photos', value=item.photos, type='hidden')
                  .row
                    .small-12.columns
                          button.small Place Bid!
                          h1= item.photos
  .row
    .small-12.columns
      h1 Current Bids
        for thing in item.bids
          li= thing.name
        else
          li No bids yet!
