extends ../shared/template

block content
  each item in items
    .item
      .row
        .small-12.columns
            .small-6.columns
              h1= item.name
              .photo(style='background-image:url("' + item.photos +'")')
              table
                thead
                  th Year
                  th Cost
                  th Info
                  th Tags
                tr
                  td= item.year
                  td= item.cost
                  td= item.desc
                  td= item.tags
