extends ../shared/template

block content
  if !user
    .row
      .small-6.columns
        form(action='/register', method='post', enctype='multipart/form-data')
          fieldset
            legend Register
            .row
              .small-12.columns
                label Username
                input(name='userName', type='text', autofocus=true, required=true)
            .row
              .small-12.columns
                label Email
                input(name='email', type='text', required=true)
            .row
              .small-12.columns
                label Password
                input(name='password', type='password', required=true)
            .row
              .small-12.columns
                label User Photo
                input(name='photos', type='file', required=true)
            .row
              .small-12.columns
                button.small.radius Register
      .small-6.columns
        form(action='/login', method='post')
          fieldset
            legend Login
            .row
              .small-12.columns
                label Email
                input(name='email', type='text', required=true)
            .row
              .small-12.columns
                label Password
                input(name='password', type='password', required=true)
            .row
              .small-12.columns
                button.small.radius.alert Login
  if user
    .row
      .small-12.columns
        &nbsp;
        .row
          .small-5.columns
            #user-info
              .photo(style='background-image:url("' + user.photo + '")')
              h2= user.userName
            #user-items
              h3 My Items
              each item in userItems
                .item
                  .thumbnail(style='background-image:url("' + item.photos +'")')
                  .footer: a(href='/items/' + item._id)= item.name
          .small-5.columns
            #items-list
              h3 Avaliable Items
              each item in items
                .item
                  .thumbnail(style='background-image:url("' + item.photos +'")')
                  .footer: a(href='/items/' + item._id)= item.name

