extends ../shared/template

block content
  if !user
    .row
      .small-6.columns
        form(action='/register', method='post')
          fieldset
            legend Register
            .row
              .small-12.columns
                label Email
                input(name='email', type='email')
            .row
              .small-12.columns
                label Password
                input(name='password', type='password')
            .row
              .small-6.columns
                button.tiny.radius Register

     .small-6.columns
        form(action='/login', method='post')
          fieldset
            legend Login
            .row
              .small-12.columns
                label Email
                input(name='email', type='email', autofocus=true)
            .row
              .small-12.columns
                label Password
                input(name='password', type='password')
            .row
              .small-6.columns
                button.tiny.radius Login
  if user
    .row
      .small-12.columns
        .row
          .small-6.columns
            #user-info
              .photo= user.photos
              h1= user.email
            #user-items
              h1 User Items
              each item in userItems
                .item
              //    .thumbnail= item.photos
                  a(href='/items/' + item._id)= item.name
          .small-6.columns
            #items-list
              h1 Item List
              each item in items
                .item
                  .thumbnail(style='background-image:url("' + item.photos +'")')
                  a(href='/items/' + item._id)= item.name



